{% extends 'layouts/app.twig' %}

{% block content %}
      <div class="template">
        <h1>Slim</h1>
        <div>a micro framework for PHP</div>
        <h2>{{ error }}!</h2>
      </div>
{% endblock %}