{% extends 'layouts/app.twig' %}

{% block content %}
      <div class="template">
        <h1>Slim</h1>
        <div>a micro framework for PHP</div>
{% if name %}
        <h2>Hello {{ name }}!</h2>
{% else %}
        <p>Try <a href="http://www.slimframework.com">SlimFramework</a></p>
{% endif %}
      </div>
{% endblock %}